@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
body {
  
}
.background-img{
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
  min-height: 100vh;  
  margin: -160px;
  width: 109%;
  z-index: -1;
}
.navim {
  color: #fff;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-left: 60%;
  margin-top: 5%;
  padding-right: 5%;
  width: 40%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
}
.li {
  color: #fff;
  text-decoration: none;
  position: relative;
  justify-content: space-between;
  padding: 0px 40px 0px 40px;
}
.li:hover {
  border-bottom: 2px solid#fff;
}
.discrHome {
  position: absolute;
  margin: 11%;
  width: 35%;
  padding: 40px;
  text-align: left;
  font-size: large;
  color: #fff;
}
.homeTitle {
  font-size: 900% !important;
}
