@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
body {
  background-image: url("./image/background-home-desktop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
}
.navim {
  position: absolute;
  margin-left: 60%;
  margin-top: 5%; 
  padding-right: 5%;
  width: 40%;
  height: 80px;
}
