@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Condensed", sans-serif;
}
.background-img {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
  min-height: 100vh;
  margin-top: -200px;
  width: 100%;
  z-index: -1;
}
.headerlogo {
  position: absolute;
  margin-top: 20px;
  margin-left: 100px;
}
.explor {
  position: absolute;
  background-color: #fff;
  width: 300px;
  height: 300px;
  margin-top: 25%;
  margin-left: 70%;
  border-radius: 50%;
}
.h3q {
  margin-top: 40%;
  margin-left: 32%;
}
.line {
  position: absolute;
  width: 50%;
  margin-top: 38px;
  margin-left: 220px;
  z-index: 3;
}
.navim {
  position: absolute;
  color: #fff;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-left: 60%;
  margin-top: 5%;
  padding-right: 5%;
  width: 40%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
}
.li {
  color: #fff;
  text-decoration: none;
  position: relative;
  justify-content: space-between;
  padding: 0px 40px 0px 40px;
}

.li:hover {
  border-bottom: 2px solid#fff;
}

.discrHome {
  position: absolute;
  margin: 11%;
  width: 35%;
  padding: 40px;
  text-align: left;
  font-size: large;
  color: #fff;
}
.homeTitle {
  font-size: 900% !important;
}
.DstinatList {
  position: absolute;
  margin-top: 15%;
  margin-left: 60%;
  text-decoration: none;
}
.smaNav {
  margin-left: 280px;
}
.dst {
  position: absolute;
  margin-left: -190%;
}
.tackList {
  overflow: hidden;
  margin-top: 15%;
}
.dst-row {
  padding-top: 80px;
}
.takeNavbar {
  width: 2%;
  display: block;
  position: relative;
}
.takli {
  text-align: center;
  display: flexbox;
  flex-direction: column;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  padding: 30px;
  margin: 30px;
  font-size: large;
  font-weight: bold;

  text-decoration: none;
}
.takli:hover {
  background-color: #fff;
  color: black;
  border: 2px solid black;
}
.tnav {
  margin-left: 80px;
  width: 150px;
}
.tackmain {
  position: absolute;
  margin-left: 290px;
}
.tacimage {
  position: absolute;
  margin-left: 60%;
  margin-top: -6%;
  width: 450px;
  height: 600px;
  
}
.takNav {
  position: absolute;
}
.crewsi{
  position: absolute;
  margin-top: 40%;
  margin-left: 15%;
  justify-content: space-between;
  display: flex;
  width: 150px;
  height: 20px;
}
.lo{
  justify-content: space-between;
  padding-left: 10px;
  text-decoration: none;
  background-color: gray;
  border: 1px solid gray;
  color: gray;
  border-radius: 50%;
}
.lo:hover {
  justify-content: space-between;
  padding-left: 10px;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 50%;
}
.dot{
  color: gray;
  position: absolute;
  margin-left: -9px;
  margin-top: -5px;
}